@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

body {
    font-family: 'Noto Sans JP', sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://scontent.fbkk22-1.fna.fbcdn.net/v/t1.15752-9/462549499_552576497322134_1031908830860259586_n.png?_nc_cat=101&ccb=1-7&_nc_sid=9f807c&_nc_ohc=n91HepeXYL4Q7kNvgEMH8xN&_nc_ht=scontent.fbkk22-1.fna&_nc_gid=AXSAPUTQ96O8nBPBDMF5C7O&oh=03_Q7cD1QEZcWbIhUyRzpMomTmhmFKR7SnUrqvbzJNheFfQu_Nj7w&oe=6739DAF0');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #eaeaea;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 350px;
    text-align: center;
    backdrop-filter: blur(10px);
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #c0392b;
    font-weight: 700;
}

label {
    display: block;
    margin: 12px 0 5px;
    font-weight: 600;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #c0392b;
}

button {
    background-color: #c0392b;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

button:hover {
    background-color: #a83226;
}

#additional-info {
    margin-top: 20px;
    color: #555;
    text-align: center;
    line-height: 1.6;
    font-size: 14px;
}

#additional-info div {
    margin: 5px 0;
}

#login-results {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    margin: 20px auto;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#login-results div {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #eaeaea;
}

#login-results div:last-child {
    border-bottom: none;
}

.label {
    font-weight: bold;
    width: 120px;
}

#login-results span {
    flex: 1;
    text-align: right;
}


#loginInfo p {
    margin: 5px 0;
    font-size: 16px;
    line-height: 1.5;
    text-align: center; /* จัดข้อมูลให้อยู่ตรงกลาง */
}

#loginInfo {
    background-color: #f9f9f9; /* สีพื้นหลัง */
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: auto; /* จัดให้อยู่ตรงกลาง */
}
